{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %} ToDo List! {% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        {% block head %}{% endblock %}
    </head>
    <body>
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
                <form action={% url 'logout' %}>
                    <input type="submit" value="Logout">
                </form>
            {% else %}
                Not signed in.
                <form action={% url 'login' %}>
                    <input type="submit" value="Sign in">
                </form>
            {% endif %}
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>